<table>
	<tr>
	    <td><input type="checkbox" [(ngModel)]="fR[4]" (change)="update (4)"/></td>
	    <td><input type="checkbox" [(ngModel)]="fR[3]" (change)="update (3)"/></td>
	    <td><input type="checkbox" [(ngModel)]="fR[2]" (change)="update (2)"/></td>
	    <td><input type="checkbox" [(ngModel)]="fR[1]" (change)="update (1)"/></td>
	    <td><input type="checkbox" [(ngModel)]="fR[0]" (change)="update (0)"/></td>
	</tr>
	<tr>
	    <td>R1</td>
	    <td>R2</td>
	    <td>R3</td>
	    <td>R4</td>
	    <td>R5</td>
	</tr>
</table>
